$button-color: #6fb048;

body {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}
nav {
  .nav-link {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 600;
    margin-right: 15px;
  }
  .navbar-brand span {
    border-right: 1px #ffffff solid;
    padding-right: 20px;
  }
  .navbar-brand a {
    padding-right: 20px;
    font-size: 16px;
  }

  .navbar-brand a:last-child {
    padding-right: 0px;
    color: #ffffff;
  }
  .navbar-brand a:last-child:hover {
    text-decoration: none;
  }
  button {
    background: #6d807f;
    color: #fff !important;
  }
}

#hero-area {
  background: linear-gradient(rgba(31, 61, 61, 0.9), rgba(41, 99, 101, 0.7)),
    url(../img/Home.jpg) center/cover no-repeat fixed;
  min-height: 72vh;
  .hero-text {
    button {
      background: $button-color;
      border-color: $button-color;
      border-radius: 2px;
      padding: 13px 0;
      transition: all 1s ease;
    }
    button:hover {
      background: #fff;
      border-color: #fff;
      border-radius: 2px;
      padding: 13px 0;
      color: $button-color;
    }
  }
}

@media (max-width: 991px) {
  nav {
    .border-bottom {
      border: 0 !important;
    }
    button {
      padding: 5px 10px;
    }
  }
}
